.header{
    padding: 2.5rem;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #cecdcd;

    &__left{
        flex-basis: 10%;
        margin-right: 5rem;
    }

    &__form{
        display: flex;
        flex-basis: 70%;
        align-items: center;
        margin: 0 auto;
        width: 60%;

        & svg{
            z-index: 100;
            margin: 0 -3rem 0 3rem;
        }
        
        & input{
            width: 80%;
            height: 4rem;
            text-align: center;
            background-color: var(--color-grey-light-3);
            border: 1px solid rgb(209, 209, 209);
            
        }

        & input:focus{
            outline: none;
        }
    }

    &__right{
        

        &__items{
            
            border-radius: 15rem;
            padding: 0.5rem 1.5rem;
            margin-left: 2rem;
            background-color: black;
            color: white;
            font-size: 1.4rem;
        }
    }
}




///////////////////////////
// Main Screen

.main{
    display: flex;
    margin: 2.5rem;
    
    &__left{
        flex: 0 0 20% ;
    }

    &__right{
        display: grid;
        flex: 0 0 80%;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;

        .shopItem{
            &__image{
                width: 300px;
                height: 150px;
                
            }
            position: relative;
            &__icon{
                width: 5rem;
                position: absolute;
                left: 245px;
                top: 5px;
                cursor: pointer;
            }
            &__icon:hover{
                fill: gray;
            }

            &__buttom{
                
                &__name{
                    font-size: 1.6rem;
                    font-weight: 400;
                    margin-top: 0.4rem;
                }

                &__price{
                    font-size: 1.3rem;
                }

                &__rating{
                    font-size: 1.3rem;
                    background-color: rgb(206, 204, 204);
                    position: absolute;
                    left: 265px;
                    top: 158px;
                    border-radius: 50%;
                    width: 3rem;
                    height: 3rem;
                    text-align: center;
                    padding-top: 0.5rem;
                }
            }
        }
    }
}

//////////////////////
//// Shop Screen ///////

.shop{

    &__image{

    }

    &__information{

        &__top{

        }

        &__bottom{

        }

        &__item{
            
        }
    }

    &__gallery{

    }
}



////////////////

.modalScreen{
    font-size: 25px;
    .modalHeader{
        font-size: 25px;  
    }
}